body {
    background-color: #ED4C67;
}

.wrapper {
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.loginContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    max-width: 500px;
    height: 500px;
    background-color: #fff;
    border: 1px solid #82ccdd;
    padding: 25px 35px;
    border-radius: 15px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 7px 25px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 7px 25px rgba(0, 0, 0, 0.35);
    color: #40739e;

}

.loginContainer form {
    display: flex;
    flex-direction: column;
}

.loginContainer h1 {
    margin-bottom: 2rem;
}

input {
    margin-bottom: 1.5rem;
}

.input-text {
    outline: none;
    padding: 15px 10px;
    letter-spacing: 0.5px;
    font-size: 1.1rem;
    font-weight: 300;
    color: #333;
    border: 1px #c1cbda solid;
    border-radius: 6px;
    transition: all 0.3s;
}

.input-text:focus {
    outline: 1px solid #40739e;
}


.input-submit {
    border: none;
    color: #fff;
    background-color: #079992;
    border-radius: 35px;
    padding: 10px;
    transition: all 0.3s;
    box-shadow: 0 2px 3.5px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 2px 3.5px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 2px 3.5px rgba(0, 0, 0, 0.35);
}

::placeholder {
    font-weight: 300;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
}

.input-submit:hover {
    background-color: #0b8a83;
}

a {
    text-decoration: none;
}